@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #323f4b;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-family: "Space Grotesk", sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  align-items: center;
}

.heading {
  text-decoration: none;
}

#nav-bar {
  display: flex;
  font-size: 2em;
  font-weight: 500;
}

#nav-bar .nav-link {
  padding-left: 50px;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link:focus {
  text-decoration: underline;
}

#homepage {
  display: grid;
  margin-top: 40px;
}

#homepage .homepage-information {
  grid-column: 1/2;
  padding-left: 30px;
}

#homepage .photo-of-the-day {
  grid-column: 2/4;
}

#mars-sprite {
  width: 50%;
  height: auto;
}

@media (max-width: 800px) {
  #homepage .homepage-information {
    grid-column: 1/1;
    padding-left: 30px;
  }

  #homepage .photo-of-the-day {
    grid-column: 1/1;
  }
}

#intro-image {
  width: 50vw;
  height: auto;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-container {
  width: 100%;
  font-size: 30px;
  padding: 30px 0 30px 0;
}

.explanation-container {
  width: 40vw;
  margin: auto;
  font-style: italic;
  color: white;
}

#video-of-the-day {
  display: none;
}

#photo-of-the-day {
  height: 50vh;
  width: auto;
}

#kennedy-offset {
  color: #cbd2d9;
}

#mars-rover-container {
  width: 100vw;
  height: 100vh;
}

#mars-rover-sprite {
  top: 5%;
  left: 60vw;
  height: auto;
  position: absolute;
}

#path-of-mars-rover-desktop {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#path-of-mars-rover-mobile {
  display: none;
}

@media (max-width: 800px) {
  #path-of-mars-rover-desktop {
    display: none;
  }

  #path-of-mars-rover-mobile {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
  }
}

.no-script-banner {
  background-color: rgb(237, 41, 57);
  padding: 30px;
}

.no-script-text {
  color: white;
  width: 60vw;
  margin: auto;
  text-align: center;
}

/* LOGIN */

.mars-sprite {
  width: 30%;
  height: auto;
}
