html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgb(200, 200, 200);
}

#intro-text {
  text-align: center;
}

#intro-image {
  width: 60%;
  height: auto;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-container {
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding: 30px 0 30px 0;
}

.photo-explanation-container {
  width: 60vw;
  margin: auto;
  font-style: italic;
  color: grey;
}

#earth-date {
  text-align: center;
}

#date-container {
  height: 20px;
  display: flex;
  justify-content: center;
}

#kennedy-time {
  text-align: center;
}

#kennedy-offset {
  text-align: center;
  color: rgb(150, 150, 150);
}

#mars-sol {
  text-align: center;
}

#mars-rover-landing-date {
  text-align: center;
}

#mars-rover-container {
  width: 100vw;
  height: 100vh;
}

#mars-rover-sprite {
  top: 5%;
  left: 60vw;
  height: auto;
  position: absolute;
}

#path-of-mars-rover-desktop {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#path-of-mars-rover-mobile {
  display: none;
}

@media (max-width: 800px) {
  #path-of-mars-rover-desktop {
    display: none;
  }

  #path-of-mars-rover-mobile {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
  }
}

.account-information {
  text-align: center;
}
